 *{
     margin: 0;
     padding: 0;
 }
                                                                                    /* Font styling */

/* link til downloaded font */
@font-face{
    src: url(fonts/NewYork\ PERSONAL\ USE.otf);
    font-family: NewYork;
}

h1{
    color: rgb(255, 255, 255);
    font-family: NewYork;
    font-size: 45pt;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
}

h2{
    color: black;
    font-family: NewYork;
    font-size: 30pt;
    font-weight: 400;
    letter-spacing: 10px;
}

h3{
    color: black;
    font-family: NewYork;
    font-size: 27pt;
    font-weight: 500;
    letter-spacing: 10px;
}

h4{
    color: #085a00;
    font-family: NewYork;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

p{
    font-family: gill-sans-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
}

/* generel link styling */
a {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 40px;
    color: black;
    text-decoration:none;
}

a:hover{
    font-weight: 400;
    text-decoration: underline;
}

section{
    background-color: #f9f9ed;
}

.greenfont{
    color: #085a00;
}

.whitefont{
    color: white;
}

.morefontweight{
    font-weight: 600;
}
                                                                                /* CTA knapper */
/* Hvid CTA button */
  
  .whitebutton {
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    border-left: 1px white solid;
    padding: 8px 6px;
    width: 130px;

    color: white;
    text-align: center;
    font-size: 20px;
    font-family: NewYork;
    
  }


  .whitebutton a:hover{
    text-decoration: none;
  }

  /* animation og pil */
  .whitebutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .whitebutton span:after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -30px;
    transition: 0.5s;
    
  }
  
  .whitebutton:hover span {
    padding-right: 30px;
  }
  
  .whitebutton:hover span:after {
    opacity: 1;
    right: 0;

  }
/* Orange CTA Button  */
  .orangebutton {
    background-color: #ff9f1c;

    border: none;
    padding: 12px 25px;
    margin: 4px 2px;
    
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;

    box-shadow: 5px 10px 8px #dddcdb;

    text-align: center;
    font-size: 20px;
    font-family: NewYork;
    color: white;
  }

  /* farven bliver stærkere når man hover */
  .orangebutton:hover {
      opacity: 1
}

                                                                                            /* Header */

/* Logo */

#logo{
    height: 100px;
    width: 100px;
   
}

/* Desktop Header */
/* Display flex bruges her, for at placere logo, 
nav og søg ikoner som jeg ønsker */
header{
    background-color: #f9f9ed;

    z-index: 1;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Her bruges flexbox på nav, da jeg igen ønsker at de bliver centeret og lige fordelt. 
Derudover har jeg sat et gap på, for at lave mellemrum mellem menuikonerne */
nav{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
}

/* Jeg har valgt at nav links skal have en specifik styling, 
som andre a tags ikke skal have, 
derfor er de placeret her og ikke i generel link styling */
nav a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-style: normal;
    text-align: center;

    padding: 5px 16px;
  }

/* Bæredygtighed skal have en speciel font og styling, 
den skal bruges 1 gang og derfor er et et id */
  #greenfont{
      color: #a5cf45;
      font-weight: 700;
      letter-spacing: 2px;
  }

  /* styling af sub nav knapper for at få dem til at ligne a tagget i naven */
  .subnav .subnavbtn {
    font-size: 16px;  
    color: black;

    text-transform: uppercase;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;

    background-color: inherit;
    padding: 14px 16px;
    border: none;
    outline: none;
  }
  
/* Ændring af bagrunddsfarve når man hover over nav links */
  nav a:hover, .subnav:hover .subnavbtn {
    background-color: #dbf4a7;
  }

/* undermenu punkter har display none, for at man ikke skal kunne se dem hele tiden */
/* undermenu punkter har også fået position absolute, 
da jeg ønsker at menupunkterne foldes ud under de øverste menupunkter */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #dbf4a7;
    width: 100%;
   
  }

/* Når man hover over undermenu punkterne, 
så kommer der en streg under for at vise man kan trykke på den */
  .subnav-content a:hover {
    text-decoration: underline;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

                                                                                        
                                                                                          /* burger menu */
/* burgermenuen skal have width og height fordi det er en svg fil */
  #mobilemenubutton{
    width: 50px;
    height: 50px;
}


                                                                                        /* Menu.index underside */
#burgermenubody{
    background-color: #f9f9ed;

}

#burgermenuheader{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 7%;

}

#burgermenuexit{
    display: flex;
    justify-content: flex-end;
}
/* krydset skal have width og height fordi det er en svg fil */

#burgermenuexit img{
    width: 40px;
    height: 40px;
    
}
/* Menuen er nu vertical ved hjælp af flex direction */
/* Jeg har valgt at sætte et stort gap, da jeg ikke ønsker 
at undermenupunkterne dækker over de resterende menupunkter, når de foldes ud */
#burgermenunav{
    flex-direction: column;
    gap: 95px;
}

                                                                                            /* Hero section forside */

.hero-image{
    position: relative;
    height: 800px;
    overflow: hidden;
    background: url(img/forarsol-hero.jpg) no-repeat center;
    background-size: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}




                                                                                        /* Bæredygtig 4 kasser teaser */

.forsideteaser{
    padding: 10%;
    position: relative;

}
.forsideteasertekst{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -50%);
    background-color: white;
    padding: 5%;
    text-align: center;
}
.forsideteasertekst h2{
    padding-bottom: 20px;
}

.forsideteasertekst > p {
    padding-bottom: 20px;
}

/* 4 ikoner om bæredygtighed */

#fireikoner{
    background-color: #dbf4a7;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    padding-top: 50px;
    padding-bottom: 50px;

}

#fireikoner a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
#fireikoner a:hover{
    /* Animateret kasse: */
    padding: 0px;
    
    letter-spacing:1px;
    transition: padding 0.5s, margin 0.5s;
    
}
#fireikoner p:hover{
    font-weight: 500;
}
#fireikoner div{
        display: flex;
        flex-direction: column;
        align-items: center;
}

#fireikoner div i{
    color: #085a00;
    padding-bottom: 10px;

}

                                                                                        /* DIY Teaser med 3 kasser */

.diytrekasser{
    text-align: center;
    padding-bottom: 100px;
}
#diyteaser{
    flex-direction: column;
    padding: 6% 20%;
}

.diytrekasser div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    /* Animateret kasse: */
    padding:2px;
    margin:0px;
    letter-spacing:1px;
    transition: padding 0.5s, margin 0.5s;
}


.diytrekasser div:hover{
    padding:10px;

}

#flaskedekor{
    background: 
    /* transparent sort, lavet med en faked gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* billede */
    url(img/bottledekor.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 300px;
}

#blomsterdekor{
    background: 
    /* transparent sort, lavet med en faked gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* billede */
    url(img/blomsterdekor.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 300px;
}

#lysdekor{
    background: 
   /* transparent sort, lavet med en faked gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* billede */
    url(img/lysdekor.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 300px;
}
#flaskedekor a:hover, #blomsterdekor a:hover, #lysdekor a:hover{
    text-decoration: underline white;
    text-decoration-thickness: 1px;

    
}




                                                                                            /* Konkurrence teaser */

.konkurrenceteaser, #konkurrencebillede, #konkurrenceteasertekst {
    background-color: #ff9f1c;
    display:flex;
}

 #konkurrenceteasertekst{
    align-items:center;
    text-align: center;
}

#konkurrencebillede img{
    width: 100%;
}

#konkurrenceteasertekst > div{
    padding: 10%;
}

#konkurrenceteasertekst > div > h3{
    padding-bottom: 40px;
    color: white;
}
#konkurrenceteasertekst > div > p{
    padding-bottom: 40px;
    color: white;
}

                                                                                                /* Bæredygtig underside */

.hero-image-baredygtig{
    position: relative;
    height: 800px;
    overflow: hidden;
    background: 
    /* transparent sort, lavet med en faked gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* billede */
    url(img/baredygtig-hero.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.hero-text-baredygtig{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}


                                                                                                /* DIY underside */
/* Hero DIY */
.hero-image-diy{
    position: relative;
    height: 800px;
    overflow: hidden;
    background: 
    /* transparent sort, lavet med en faked gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* billede */
    url(img/diy-hero.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.hero-text-diy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}

/* indlæs flere */

#indlaesflere{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#indlaesflere h3{
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

                                                                                            /* Konkurrence underside */

/* Hero konkurrence */
.hero-image-konkurrence{
    position: relative;
    height: 800px;
    overflow: hidden;
    background: 
    /* transparent sort, lavet med en faked gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* billede */
    url(img/konkurrence-hero.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.hero-text-konkurrence{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}

#konkurrencetekst{
    text-align: center;
    padding: 7% 10%;
}

#konkurrencetekst div{
    padding: 4%;
}

#konkurrencetekst div h3{
    padding-bottom: 20px;
}

#konkurrence-desktop-img, #konkurrence-mobil-img{
    width: 100%;
}



                                                                                                   /* Footer */

/* Flexbox bruges for at fordele footer sektionerne lige */
footer{
    background-color: #f9f9ed;
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
}

/* De 3 SoMe ikoner bliver grønne, dette er ikke en 
generel regel, da andre ikoner skal være sorte */
footer i{
   color: #085a00;
    padding-right: 20px;
}

                                                                                      /* @media max-width 1100px */

@media only screen and (max-width:1100px){
    /* header */
    /* lidt styling for at gøre fonten mindre, og gøre headere responsiv */
    nav{
        gap:0;
    }
    nav a{
        font-size: 11px;
    }
    .subnav .subnavbtn{
        font-size: 11px;
    }

    #logo {
        height: 100px;
        width: 77px;
    }

    .hero-image{
        height: 530px;
    }

    .hero-image h1{
        font-size: 30pt;
    }

    /* 3 DIY kasser */
    #flaskedekor, #blomsterdekor, #lysdekor{
        width: 25%;
        height: 250px;
    }
}
    

                                                                                     /* @media min-width 768px */

@media only screen and (min-width:768px){
    /* header */
    /* burgermenu skal ikke vises  */
   #mobilemenubutton{
    display: none;
}

/* konkurrence teaser */

.konkurrenceteaser{
    flex-direction:row;
}
#konkurrencebillede, #konkurrenceteasertekst{
    width:50%;
}

/* Konkurrence underside */
    #konkurrence-mobil-img{
        display: none;
    }    
    
}
                                                                                     /* @media max-width 768px */

@media only screen and (max-width:768px){   
    /* header */
    header{
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    }

   nav{
    display: none;
    }

    /* Menu.index underside */
    #burgermenunav{
        display: flex;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    /* navigationsmenuen bliver nu column i stedet for row og centeres */
    .subnav:hover .subnav-content{
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    /* fonten bliver større for at kunne se menupunkterne mere */
    nav a {
        font-size: 17px;
    }
    .subnav .subnavbtn{
        font-size: 17px;
    }

    /* Hero forside */
    .hero-image{
        height: 430px;
    }
    .hero-image h1 {
        font-size: 20pt;
    }

    /* fire ikoner */
    #fireikoner{
        flex-direction: column;
        gap: 50px;
    }

    /* Bæredygtig teaser */
    .forsideteaser {
        padding: 10%;
        display: flex;
        flex-direction: column-reverse;
        position: static;
    }

    .forsideteaser div {
            display: flex;
            justify-content: center;
    }

    .forsideteaser div img {
        width: 85%;
    }

    .forsideteasertekst {
        padding: 5%;
        text-align: center;
        position: static;
        top: 0;
        left: 0;
        transform: none;
        background-color: transparent;
    }

    /* 3 DIY kasser */
    .diytrekasser div {
        flex-direction: column;
    }
    #diyteaser{
        padding: 5% 12%;
    }
    #flaskedekor, #blomsterdekor, #lysdekor {
        width: 40%;
        height: 275px;
    }

    /* Konkurrence teaser */
    .konkurrenceteaser{
        flex-direction:column;
    }

    /* Hero DIY underside */
    .hero-image-diy{
        height: 430px;
    }
    .hero-image-diy h1 {
        font-size: 20pt;
    }

    /* Bæredygtig underside */
    
    .hero-image-baredygtig{
        height: 430px;
    }
    .hero-image-baredygtig h1 {
        font-size: 20pt;
    }

    /* konkurrence underside */
    .hero-image-konkurrence{
        height: 430px;
    }
    .hero-image-konkurrence h1 {
        font-size: 20pt;
    }

    #konkurrence-desktop-img {
        display: none;
    }

    /* footer */
    /* footer bliver nu column i stedet for row og centeres */
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer section{
        padding-bottom: 30px;
    }

    footer i{
            padding-right: 7px;
            padding-left: 7px;
     }

}

                                                    /* @media max-width 580px */

@media only screen and (max-width:580px){   
    /* Hero forside */
    .hero-image{
        height: 330px;
    }
    .hero-image h1 {
        font-size: 18pt;
    }

    /* 3 DIY kasser */
    #flaskedekor, #blomsterdekor, #lysdekor {
        width: 50%;
        height: 275px;
    }

    /* Bæredygtig underside */
    
    .hero-image-baredygtig{
        height: 330px;
    }
    .hero-image-baredygtig h1 {
        font-size: 18pt;
    }

    /* Hero DIY underside */
    .hero-image-diy{
        height: 330px;
    }
    .hero-image-diy h1 {
        font-size: 18pt;
    }

     /* Hero konkurrence underside */
     .hero-image-konkurrence{
        height: 330px;
    }
    .hero-image-konkurrence h1 {
        font-size: 18pt;
    }
}

                                                        /* @media min-width 425px */

  @media only screen and (max-width:425px){ 
    /* Hero forside */
    .hero-image{
        height: 230px;
    }
    .hero-image h1 {
        font-size: 10pt;
    }

     /* Bæredygtig underside */
    
     .hero-image-baredygtig{
        height: 230px;
    }
    .hero-image-baredygtig h1 {
        font-size: 10pt;
    }

    /* Hero DIY underside */
    .hero-image-diy{
        height: 230px;
    }
    .hero-image-diy h1 {
        font-size: 10pt;
    }
    /* Hero konkurrence underside */
    .hero-image-konkurrence{
        height: 230px;
    }
    .hero-image-konkurrence h1 {
        font-size: 10pt;
    }
}


